extends layout

block layout-content
  div.indexDiv
    div.View.WelcomeView
      div.View
        h1.Banner Barcelona 2 : 8 bayern 
        div.Message
          div.Title
          h3 Champion League
          //- form(action="/answer" method="post") Name :
          //-   input(type="text" name="first_name" placeholder="First Name") 
          //-   input(type="text" name="last_name" placeholder="Last Name") 
          //-   input(type="text" name="team" placeholder="football team") 
          //-   button(type="submit") click

